In [18]:
import pandas as pd

In [19]:
import streamlit as st

In [20]:
import plotly_express as px

In [21]:
df = pd.read_csv('vehicles_us.csv')

In [22]:
df.describe

<bound method NDFrame.describe of        price  model_year           model  condition  cylinders fuel  odometer  \
0       9400      2011.0          bmw x5       good        6.0  gas  145000.0
1      25500         NaN      ford f-150       good        6.0  gas   88705.0
2       5500      2013.0  hyundai sonata   like new        4.0  gas  110000.0
3       1500      2003.0      ford f-150       fair        8.0  gas       NaN
4      14900      2017.0    chrysler 200  excellent        4.0  gas   80903.0
...      ...         ...             ...        ...        ...  ...       ...
51520   9249      2013.0   nissan maxima   like new        6.0  gas   88136.0
51521   2700      2002.0     honda civic    salvage        4.0  gas  181500.0
51522   3950      2009.0  hyundai sonata  excellent        4.0  gas  128000.0
51523   7455      2013.0  toyota corolla       good        4.0  gas  139573.0
51524   6300      2014.0   nissan altima       good        4.0  gas       NaN

      transmission    type paint_color  is_4wd date_posted  days_listed
0        automatic     SUV         NaN     1.0  2018-06-23           19
1        automatic  pickup       white     1.0  2018-10-19           50
2        automatic   sedan         red     NaN  2019-02-07           79
3        automatic  pickup         NaN     NaN  2019-03-22            9
4        automatic   sedan       black     NaN  2019-04-02           28
...            ...     ...         ...     ...         ...          ...
51520    automatic   sedan       black     NaN  2018-10-03           37
51521    automatic   sedan       white     NaN  2018-11-14           22
51522    automatic   sedan        blue     NaN  2018-11-15           32
51523    automatic   sedan       black     NaN  2018-07-02           71
51524    automatic   sedan         NaN     NaN  2018-06-05           10

[51525 rows x 13 columns]>

In [23]:
df.shape

(51525, 13)

In [24]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51525 entries, 0 to 51524
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   price         51525 non-null  int64
 1   model_year    47906 non-null  float64
 2   model         51525 non-null  object
 3   condition     51525 non-null  object
 4   cylinders     46265 non-null  float64
 5   fuel          51525 non-null  object
 6   odometer      43633 non-null  float64
 7   transmission  51525 non-null  object
 8   type          51525 non-null  object
 9   paint_color   42258 non-null  object
 10  is_4wd        25572 non-null  float64
 11  date_posted   51525 non-null  object
 12  days_listed   51525 non-null  int64
dtypes: float64(4), int64(2), object(7)
memory usage: 5.1+ MB

In [25]:
df.duplicated().sum()

0

In [26]:
df.nunique()

price            3443
model_year         68
model             100
condition           6
cylinders           7
fuel                5
odometer        17762
transmission        3
type               13
paint_color        12
is_4wd              1
date_posted       354
days_listed       227
dtype: int64

In [27]:
df.isnull().sum()

price               0
model_year       3619
model               0
condition           0
cylinders        5260
fuel                0
odometer         7892
transmission        0
type                0
paint_color      9267
is_4wd          25953
date_posted         0
days_listed         0
dtype: int64

In [28]:
df.describe()

,price,model_year,cylinders,odometer,is_4wd,days_listed
count,51525.000000,47906.000000,46265.000000,43633.000000,25572.0,51525.00000
mean,12132.464920,2009.750470,6.125235,115553.461738,1.0,39.55476
std,10040.803015,6.282065,1.660360,65094.611341,0.0,28.20427
min,1.000000,1908.000000,3.000000,0.000000,1.0,0.00000
25%,5000.000000,2006.000000,4.000000,70000.000000,1.0,19.00000
50%,9000.000000,2011.000000,6.000000,113000.000000,1.0,33.00000
75%,16839.000000,2014.000000,8.000000,155000.000000,1.0,53.00000
max,375000.000000,2019.000000,12.000000,990000.000000,1.0,271.00000

In [29]:
df['price'].value_counts()

1        798
6995     719
5995     655
4995     624
3500     620
        ...
58500      1
3993       1
32987      1
3744       1
7455       1
Name: price, Length: 3443, dtype: int64

In [30]:
df['model'].value_counts()

ford f-150                           2796
chevrolet silverado 1500             2171
ram 1500                             1750
chevrolet silverado                  1271
jeep wrangler                        1119
                                     ...
ford f-250 super duty                 241
acura tl                              236
kia sorento                           236
nissan murano                         235
mercedes-benz benze sprinter 2500      41
Name: model, Length: 100, dtype: int64

In [31]:
df['model_year'].value_counts()

2013.0    3549
2012.0    3468
2014.0    3448
2011.0    3375
2015.0    3323
          ...
1948.0       1
1961.0       1
1936.0       1
1949.0       1
1929.0       1
Name: model_year, Length: 68, dtype: int64

In [32]:
fig = px.histogram(df.price, x = "price", title = "Distribution of Price in Cars")

fig.show()

ValueError: Mime type rendering requires nbformat>=4.2.0 but it is not installed